.emailVerificationContainer {
    border-radius: 8px;
    background-image: url("../../assets/img/ellipse_19.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-modal);
    box-shadow: var(--modal-shadow);
}

@media screen and (min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
    .requestResetPasswordContainer {
        background-image: url("../../assets/img/ellipse_19@2x.png");
    }
}

.title {
    color: var(--form-color);
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
}

.text {
    color: var(--form-color);
    font-weight: 400;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 30px;
    }

    .text {
        font-size: 24px;
    }

    .requestResetPasswordContainer {
        background-image: url("../../assets/img/ellipse_19.png"),
            url("../../assets/img/reg_form_t.png");
        background-repeat: no-repeat, no-repeat;
        background-size: 557px 626px, 800px 900px;
        background-position: center;
    }

    @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
        .requestResetPasswordContainer {
            background-image: url("../../assets/img/ellipse_19@2x.png"),
                url("../../assets/img/reg_form_t@2x.png");
        }
    }
}