.title {
    color: var(--form-color);
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
}

.text {
    color: var(--form-color);
    font-weight: 400;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 30px;
    }

    .text {
        font-size: 24px;
    }
}