.modalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.text {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 214px;
    margin: 0 auto 40px;
}

.btn {
    width: 280px;
    height: 50px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {

    .header {
        display: none;
    }

    .btn {
        width: 300px;
    }

    .boxIcon {
        display: flex;
        gap: 52px;
        flex-direction: column;
    }
}