.contentWrapper {
 padding: 20px;
 text-align: center;
}

.message {
 font-size: 18px;
 margin-bottom: 20px;
 color: var(--text-color);
}

.details {
 font-size: 14px;
 color: var(--text-color-secondary);
 margin-bottom: 20px;
}

.buttonGroup {
 display: flex;
 flex-direction: column;
 gap: 20px;
 width: 280px;
 margin: 0 auto;
}

.confirmButton {
 background-color: var(--expense-color);
 color: var(--white-color);
 border: none;
 padding: 12px 24px;
 border-radius: 20px;
 cursor: pointer;
 font-size: 18px;
 font-weight: 400;
 transition: background-color 0.3s ease;
 width: 100%;
}

.confirmButton:hover {
 background-color: var(--expense-color-darker);
}

@media (min-width: 768px) {
 .buttonGroup {
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: auto;
 }

 .confirmButton {
  width: 180px;
 }
}
