.deleteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.logo {
    display: none;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message {
    font-weight: 400;
    font-size: 22px;
    text-align: left;
    margin-bottom: 40px;
    color: var(--text-color);
    width: 280px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.details {
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    color: var(--text-color-secondary);
}

.accent {
    color: var(--green);
    margin-left: 4px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 280px;
    margin: 0 auto;
}

.confirmButton {
    background-color: var(--expense-color);
    color: var(--white-color);
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
}

@media (min-width: 768px) {
    .header {
        display: none;
    }

    .logo {
        display: flex;
        margin-bottom: 52px;
    }

    .box {
        align-items: center;
    }

    .message {
        font-size: 24px;
        width: 342px;
        text-align: center;
    }

    .details {
        font-size: 20px;
        width: 342px;
        text-align: center;
    }

    .buttonGroup {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 300px;
    }
}